<!-- <app-header></app-header> -->
<!-- 
<div class="d-flex justify-content-center align-items-center vh-100" style="background-color: hsl(0, 0%, 96%);">

    <section class="w-100">
      <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
        <div class="container">
          <div class="row gx-lg-5 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
              <h1 class="my-5 display-3 fw-bold ls-tight">
                The best offer <br />
                <span class="text-primary">for your business</span>
              </h1>
              <p style="color: hsl(217, 10%, 50.8%)">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Eveniet, itaque accusantium odio, soluta, corrupti aliquam
                quibusdam tempora at cupiditate quis eum maiores libero
                veritatis? Dicta facilis sint aliquid ipsum atque?
              </p>
            </div>
  
            <div class="col-lg-6 mb-5 mb-lg-0">
              <div class="card">
                <div class="card-body py-5 px-md-5">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link active" id="signup-tab" data-bs-toggle="tab" href="#signup" role="tab" aria-controls="signup" aria-selected="true">Sign Up</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="login-tab" data-bs-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="false">Log In</a>
                    </li>
                  </ul>
                  <br>
                  <div class="tab-content" id="myTabContent">

                    <div class="tab-pane fade show active" id="signup" role="tabpanel" aria-labelledby="signup-tab">
                      <form>
                        <div class="row">
                          <div class="col-md-6 mb-4">
                            <div class="form-outline">
                              <input type="text" id="form3Example1" class="form-control" />
                              <label class="form-label" for="form3Example1">First name</label>
                            </div>
                          </div>
                          <div class="col-md-6 mb-4">
                            <div class="form-outline">
                              <input type="text" id="form3Example2" class="form-control" />
                              <label class="form-label" for="form3Example2">Last name</label>
                            </div>
                          </div>
                        </div>
    
                        <div class="form-outline mb-4">
                          <input type="email" id="form3Example3" class="form-control" />
                          <label class="form-label" for="form3Example3">Email address</label>
                        </div>
    
                        <div class="form-outline mb-4">
                          <input type="password" id="form3Example4" class="form-control" />
                          <label class="form-label" for="form3Example4">Password</label>
                        </div>
    
    
                        <button type="submit" class="btn btn-primary btn-block mb-4">
                          Sign up
                        </button>
    
                        <div class="text-center">
                          <p>or sign up with:</p>
                          <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-facebook-f"></i>
                          </button>
    
                          <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-google"></i>
                          </button>
    
                          <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-twitter"></i>
                          </button>
    
                          <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-github"></i>
                          </button>
                        </div>
                      </form>
                    </div>
                    <div class="tab-pane fade" id="login" role="tabpanel" aria-labelledby="login-tab">
                      <form>

                        <div class="form-outline mb-4">
                          <input type="email" id="loginEmail" class="form-control" />
                          <label class="form-label" for="loginEmail">Email address</label>
                        </div>
    
                        <div class="form-outline mb-4">
                          <input type="password" id="loginPassword" class="form-control" />
                          <label class="form-label" for="loginPassword">Password</label>
                        </div>
    
                        <div class="form-check d-flex justify-content-center mb-4">
                          <input class="form-check-input me-2" type="checkbox" value="" id="loginRememberMe" />
                          <label class="form-check-label" for="loginRememberMe">
                            Remember me
                          </label>
                        </div>
    
                        <button type="submit" class="btn btn-primary btn-block mb-4">
                          Log in
                        </button>
    
                        <div class="text-center">
                          <p>or log in with:</p>
                          <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-facebook-f"></i>
                          </button>
    
                          <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-google"></i>
                          </button>
    
                          <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-twitter"></i>
                          </button>
    
                          <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-github"></i>
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div> -->

<app-header></app-header>

  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <!-- Text Section -->
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            Join the excitement <br/>
            <span style="color: #0c056e;">of live bidding</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            Welcome to LAS (Live-Auction-System), your go-to platform for live auctions. Participate in real-time bidding and secure the items you desire from the comfort of your home. Sign up or log in now to start bidding!
          </p>
        </div>
  
        <!-- Auth Form Section -->
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <ul class="nav nav-tabs" id="authTabs" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link" [class.active]="!isLoginMode" style="color: #0c056e;" (click)="isLoginMode = false" id="signup-tab" role="tab">Sign Up</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link fw-bold" [class.active]="isLoginMode" style="color: #0c056e;" (click)="isLoginMode = true" id="login-tab" role="tab">Log In</a>
                </li>
              </ul>
              <br>
              <div class="tab-content" id="authTabsContent">
                <!-- Sign Up Form -->
                <div *ngIf="!isLoginMode" class="tab-pane fade show active" role="tabpanel" id="signup">
                  <form>
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <input type="text" id="signupFirstName" class="form-control" />
                          <label class="form-label" for="signupFirstName">First name</label>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <input type="text" id="signupLastName" class="form-control" />
                          <label class="form-label" for="signupLastName">Last name</label>
                        </div>
                      </div>
                    </div>
  
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      <input type="email" id="signupEmail" class="form-control" />
                      <label class="form-label" for="signupEmail">Email address</label>
                    </div>
  
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                      <input type="password" id="signupPassword" class="form-control" />
                      <label class="form-label" for="signupPassword">Password</label>
                    </div>
  
                    <!-- Checkbox -->
                    <!-- <div class="form-check d-flex justify-content-center mb-4">
                      <input class="form-check-input me-2" type="checkbox" value="" id="signupNewsletter" checked />
                      <label class="form-check-label" for="signupNewsletter">
                        Subscribe to our newsletter
                      </label>
                    </div> -->
  
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">
                      Sign up
                    </button>
  
                    <!-- Register buttons -->
                    <!-- <div class="text-center">
                      <p>or sign up with:</p>
                      <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-facebook-f"></i>
                      </button>
  
                      <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-google"></i>
                      </button>
  
                      <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-twitter"></i>
                      </button>
  
                      <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-github"></i>
                      </button>
                    </div> -->
                  </form>
                </div>
  
                <!-- Login Form -->
                <div *ngIf="isLoginMode" class="tab-pane fade show active" role="tabpanel" id="login">
                  <form>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      <input type="email" id="loginEmail" class="form-control" />
                      <label class="form-label" for="loginEmail">Email address</label>
                    </div>
  
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                      <input type="password" id="loginPassword" class="form-control" />
                      <label class="form-label" for="loginPassword">Password</label>
                    </div>
  
  
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">
                      Log in
                    </button>
  
                    <!-- Register buttons -->
                    <!-- <div class="text-center">
                      <p>or log in with:</p>
                      <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-facebook-f"></i>
                      </button>
  
                      <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-google"></i>
                      </button>
  
                      <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-twitter"></i>
                      </button>
  
                      <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-github"></i>
                      </button>
                    </div> -->
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   
  <app-footer></app-footer>
   

